<h2>新規登録</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control my-form" %>
  </div><br>

  <div class="field">
    <%= f.label :password, "パスワード" %>
    <% if @minimum_password_length %>
    <em>(半角英数<%= @minimum_password_length %>字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control my-form" %>
  </div><br>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード確認" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control my-form" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "新規登録", class: "btn btn-primary" %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
