<p>名前：<%= "#{@user.name}さん" %></p>
<p>性別：<%= @user.gender_id_i18n %></p>
<p>勤務地：<%= @user.location %></p>
<% if @user.birthday_public? && @user.birthday? %>
  <p>誕生日:<%= @user.birthday.to_s(:date) %></p>
<% end %>
<p>自己紹介：<%= @user.self_introduction %></p>
<br>
