<p>関連タグ一覧</p>
<% @user.skill_list.each do |tag| %>
  <span class="label label-primary tag-size"><%= tag %></span>
<% end %>
<br><br>
<% if @user.find_related_skills.present? && current_user == @user %>
  <p>関連ユーザー一覧</p>
  <% @user.find_related_skills.limit(5).each do |u| %>
    <%= link_to u.name, u %>
  <% end %>
<% end %>
