<h1>プロフィール編集</h1>
<hr>
<%= form_for @user do |f| %>
  <%= render "shared/error_messages", object: @user %>
  <%= image_tag @user.user_icon, size: "200x200", class: "set-picture" %>
  <br>
  <p><strong>名前<span class="red">*</span></strong></p>
  <%= f.text_field :name, class: "form-control my-form" %>

  <br>
  <p><strong>性別<span class="red">*</span></strong></p>
  <%= f.select :gender_id, User.gender_ids_i18n.keys.map { |k| [User.gender_ids_i18n[k], k]}, class: "form-control" %>
  <br><br>

  <p><strong>勤務地</strong></p>
  <%= f.select :location, User.locations.keys, {prompt: '選択してください'}, class: 'form-control my-form' %>
  <br>

  <p><strong>誕生日</strong></p>
  <%== sprintf(
  f.date_select(:birthday, use_month_numbers: true, date_separator: '%s',
  start_year: 1930, end_year: Time.now.year, default: '1990-1-1'.to_date), '年','月') + '日生まれ' %>

  <br><br>
  <%= f.label :birthday_public do %>
    <%= f.check_box :birthday_public,{},checked_value = "true", unchecked_value = "false"  %>
    <p class="inline">誕生日を公開する</p>
  <% end %>

  <br><br>

  <p><strong>自己紹介</strong></p>
  <%= f.text_area :self_introduction, class: "form-control my-form" %>

  <br>
  <p><strong>タグ</strong></p>
  <p class="tag-18"><%= text_field_tag 'user[skill_list]', @user.skill_list.join(','),
  "data-role" => "tagsinput", class: "form-control my-form", placeholder: "ruby, php..." %></p>
  <br>
  <p><strong>画像設定</strong></p>
  <%= f.file_field :picture, class: "form-control my-form" %>
  <hr>

  <%= f.submit "登録する", class: "btn btn-primary" %>
<% end %>
<br><br>
