<h1>ユーザー一覧</h1>
<hr>

<%= form_tag(users_path, method: 'get' ) do %>
  <%= text_field_tag :skill_list, '', placeholder: "タグの絞り込み検索ができます", class: "my-form"%>
  <%= submit_tag '絞り込む', class: "btn btn-primary" %>
<% end %>
<% if @users.present? %>
<br><br>
  <% @users.each do |u| %>
    <p>
    <%= image_tag u.picture.url, size: "50x50", class: "set-picture pr-10" if u.picture? %>
    <%= link_to "#{u.name}さん", u %>
    <% u.skill_list.each do |tag| %>
      <span class="label label-primary tag-size"><%= tag %></span>
    <% end %>
    </p>
    <hr>
  <% end %>
<% else %>
  <h2 class="text-danger">ユーザーが見つかりませんでした。</h2>
  <%= link_to "戻る", users_path, class: "btn btn-info" %>
<% end %>
<br>