<div class="row">
  <div class="col-xs-6">
    <h1>ユーザー情報</h1>
    <hr>
    <div class="parent-user">
      <div class="child-user-one">
        <%= image_tag @user.user_icon, size: "200x200", class: "set-picture" %>
      </div>
      <div class="child-user-two">
        <%= render "profile" %>
        <%= render "tag" %>
      </div>
    </div>
    <hr>
    <% if current_user == @user %>
      <p><%= link_to "ユーザー情報を編集する", edit_user_path, class: "btn btn-success", data: {"turbolinks" => false} %></p>
      <p><%= link_to "ユーザー情報を削除する", @user, class: "btn btn-danger",
            method: :delete, data: { confirm: "本当に削除しますか？" } %></p>
    <% else %>
      <%= form_for @room do |f| %>
          <%= fields_for @entry do |e| %>
            <%= e.hidden_field :user_id, :value => @user.id %>
          <% end %>
        <%= f.submit "チャットを始める", class: "btn btn-warning" %>
      <% end %>
    <% end %>
  </div>
  <% if current_user.id == params[:id].to_i %>
  <div class="col-xs-6">
    <% if @entries.present? %>
      <h1>チャット一覧</h1>
      <hr>
      <% @entries.each do |e| %>
        <p><strong><%= link_to e.room.name, e.room %></strong></p>
        <hr>
      <% end %>
      <%= link_to "チャット一覧へ", rooms_path, class: "btn btn-info" %>
    <% else %>
      <br><br>
      <h3 class="text-danger text-center">まだチャットがありません</h3>
    <% end %>
  </div>
  <% end %>
</div>
<hr>
<p><%= link_to "ユーザー一覧へ", users_path, class: "btn btn-primary" %></p>
