<h2>パスワードをお忘れですか?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "メールを送る", class: "btn btn-primary" %>
  </div>
<% end %>

<%#= render "devise/shared/links" %>
