<div class="header-image">
  <h2 class="text-center header-content"><strong class="fontchange">Enjoy your enginner life !!</strong></h2>
    <% unless user_signed_in? %>
      <div class="top-wrapper text-center">
        <div class="container">
          <p>En-Chatはエンジニア向けのチャットアプリです。</p>
          <p>"エン"ジニア同士の"縁"になれば幸いです。さあ始めよう！</p>
          <div class="btn-wrapper">
            <%= link_to "新規登録はこちら", new_user_registration_path, class: "btn signup" %>
          </div>
        </div>
      </div>
    <% end %>
</div>
