<h1>チャット情報の編集</h1>
<hr>
<%= form_for @room do |f| %>
  <%= render "shared/error_messages", object: @room %>
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control my-form", placeholder: "名前を入力してください" %>
  <br>
  <%= f.label :explain %>
  <%= f.text_area :explain, class: "form-control my-form", size: "30x8", placeholder: "説明を入力してください" %>
  <br>
  <%= f.submit "編集する", class: "btn btn-success" %>
<% end %>
<hr>
<p><%= link_to "戻る", @room, class: "btn btn-primary" %></p>
<p><%= link_to "トップへ", root_path, class: "btn btn-info" %></p>



