<h1><%= current_user.name %>さんのチャット一覧</h1>
<hr>
<% if @entries.present? %>
  <% @entries.each do |e| %>
    <%= link_to e.room.name, e.room %>
    <% if e.room.messages.where("(read_flg = ?) AND NOT (user_id = ?)", 0, current_user.id).present? %>
      <%= "(#{e.room.messages.where(read_flg: 0).count})"  %>
    <% end %>
    <hr>
  <% end %>
  <p><%= link_to "トップへ戻る", root_path, class: "btn btn-info" %></p>
<% else %>
  <h2 class="text-danger">まだチャットがありません</h2>
<% end %>
