<div class="row">
  <div class="col-xs-3 text-center">
    <h4><%= @room.name %></h4>
    <h4><small><%= @room.explain %></small></h4>
    <hr>
    <h4>参加者</h4>
    <% @entries.each do |e| %>
      <h5><strong><%= link_to "#{e.user.name}さん", e.user %></strong></h5>
    <% end %>
    <p><%= link_to "チャットを編集する", edit_room_path, class: "btn btn-success" %></p>
    <p><%= link_to "チャットを削除する", @room, class: "btn btn-danger",
            method: :delete, data: { confirm: "本当に削除しますか？" } %></p>
  </div>
  <div class="col-xs-9">
    <% if @messages.present? %>
      <% @messages.each do |m| %>
        <% if m.user.id == current_user.id %>
        <h4 class="text-right">
          <p class="alert alert-success">
            <%= m.content %>
            <% if m.read_flg == 0 %>
              <span class="newsign"></span>
            <% end %>
            <br><br>
            <small><string><%= link_to "#{m.user.name}さん", m.user %>
            <%= image_tag m.user.picture.url, size: "60x60", class: "set-picture" if m.user.picture? %>
            </string></small>
          </p>
        </h4>
        <% else %>
        <h4 class="text-left">
          <p class="alert alert-info">
            <%= m.content %><br><br>
            <small><string><%= link_to "#{m.user.name}さん", m.user %>
            <%= image_tag m.user.picture.url, size: "60x60", class: "set-picture" if m.user.picture? %>
            </string></small>
          </p>
        </h4>
        <% end %>
      <% end %>
    <% else %>
      <br>
      <h3 class="text-center">メッセージはまだありません</h3>
      <br>
    <% end %>
    <hr>
    <%= form_for @message do |f| %>
      <%= render "shared/error_messages", object: @message %>
      <%= f.text_field :content, class: "form-control myform", placeholder: "メッセージを入力してください" %>
      <%= f.hidden_field :room_id, :value => @room.id %>
      <hr>
      <div class="text-center">
        <%= f.submit "送信する", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
