.my-form{
  width:500px;
}
.header-logo {
  margin: -7px 0 -6px;
  height: 35px;
}


.set-picture {
  border-radius: 50%;
  display: inline-block;
}
.parent-user {
  display: flex;
  .child-user-two {
    margin-left: 30px;
  }
}

.border-user {
  border-bottom: 1px solid black;
  display: inline-block;
}
.pr-10 {
  margin-right: 10px;
}
.inline {
  display: inline-block;
}
.red {
  color: red;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .form-control {
    color: red;
  }
}
