// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.newsign {
    float: right;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background: skyblue;
}
