// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tag-size {
  font-size: 15px;
}
.tag-18 {
  font-size: 18px;
}
