// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// *{ outline: 1px red solid; }
.main-page{
  margin-top:50px;
}
.padright {
  margin-right: 20px;
}
.padleft {
  padding-left: 50px;
  font-size: 20px;
}
.pad-left {
  font-size: 20px;
}
.fontchange {
  font-family: 'Lucida Console';
}
.header-image{
  background-image: url(/assets/top.jpg);
  height: 514px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.header-content{
  font-size: 60px;
  padding-top:150px;
  color: white;
}

.top-wrapper {
  color: white;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}


.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
  color: white;
}
