<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to image_tag("small_logo.jpg", class: "header-logo"), root_path, class: "navbar-brand padleft" %>
    </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right padright">
          <% if user_signed_in? %>
            <% if current_user.entries.present? %>
              <% current_user.entries.each do |e| %>
                <% if e.room.messages.where("(read_flg = ?) AND NOT (user_id = ?)", 0, current_user.id).present? %>
                  <% provide(:notification, '（!）') %>
                  <% break %>
                <% end %>
              <% end %>
                <li><%= link_to "マイチャット#{yield(:notification)}", rooms_path %></li>
            <% end %>
            <% if current_user.picture? %>
              <li><%= link_to image_tag(current_user.picture_url, size: "30x30", class: "set-picture set-picture-inline header-logo"), current_user %></li>
            <% else %>
              <li><%= link_to "#{current_user.name}さん", current_user %></li>
            <% end %>
            <li><%= link_to "ユーザー一覧", users_path %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to "ログインする", new_user_session_path	 %></li>
          <% end %>
        </ul>
      </div>
  </div>
</nav>
<div class="container main-page">
  <% if notice %>
    <br>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <br>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
